@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .beta-btn-base {
    @apply py-1 px-3 cursor-pointer text-white font-semibold rounded shadow-md focus:outline-none focus:ring-2 focus:ring-opacity-75;
  }
  .beta-btn-blue {
    @apply beta-btn-base bg-blue-500 hover:bg-blue-700 focus:ring-blue-400;
  }
  .beta-btn-red {
    @apply beta-btn-base bg-red-500 hover:bg-red-700 focus:ring-red-400;
  }
  .beta-btn-gray {
    @apply beta-btn-base bg-gray-500 hover:bg-gray-700 focus:ring-gray-400;
  }
  .beta-link {
    @apply text-blue-600 border-b-2 border-blue-300 border-dashed cursor-pointer hover:text-blue-500;
  }
  .beta-link-light {
    @apply beta-link text-blue-50 border-blue-100 hover:text-white;
  }
}

.skeleton {
  --text-opacity: 0;
  background-image: linear-gradient(
    100deg,
    #f3f4f6 0%,
    #eceff2 20%,
    #e4e7eb 40%
  );
  background-position: 50%;
  background-size: 200%;
  animation: skeleton 1.25s infinite linear;
}
#e4e7eb .skeleton-teal {
  background-image: linear-gradient(
    100deg,
    #b4c5f8 0%,
    #cad8f9 20%,
    #b4c5f8 40%
  );
}

.skeleton-white {
  background-image: linear-gradient(
    100deg,
    #f9fafb 0%,
    #ffffff 20%,
    #f9fafb 40%
  );
}

@keyframes skeleton {
  0% {
    background-position: 50%;
  }
  50%,
  100% {
    background-position: -100%;
  }
}
